@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* outline: 2px solid red; */
}

body{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

/* Styling Scrollbar for the whole page */
::-webkit-scrollbar {
    width: 12px;
    height: 10%; 
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(180, 119, 6); 
}

::-webkit-scrollbar-button {
    display: none;
}

.main-container{
    width: 100%;
    height: 100vh;
}

header{
    background-color: rgba(182, 181, 181, 0.651);
    padding: 20px 0px;
    position: relative;
}

header nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

header nav button{
    margin: 0px ;
    padding: 15px 20px;
    z-index: 1;
    border: none;
    background-color: inherit;
    color: rgb(61, 61, 61);
    cursor: pointer;
}

header nav span{
    position: absolute;
    height: 100%;
    width: 70px;
    position: absolute;
    left: 0%;
    background-color: #ffffff;
    border-radius: 6px;
    transition: 0.8s;
}

nav button:nth-child(1):hover~span{
    left: 0%;
}

nav button:nth-child(2):focus~span{
    left: 31%;
}

nav button:nth-child(3):focus~span{
    left: 61.4%;
}

nav button:nth-child(4):focus~span{
    left: 91.8%;
    width: 110px;
}


#content{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url(/src/images/hero.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.hero-text{
    text-align: center;
    color: #ffffff;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1{
    font-size: 3.5rem;
}

.hero-text p {
    width: 70%;
    text-align: center;
    padding-top: 20px;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}

.menu-container{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    color: black;
    padding:50px 100px;
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}

.menu-container .menu-sub-section{
    height: auto;
    background-color: black;
    color: #ffffff;
    flex-basis: 48%;
    border-radius: 4px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.4);
    overflow: auto;
    overflow-y: scroll;
}


.menu-container .menu-header{
    display: grid;
    place-content: center;
}

.menu-container .menu-header h1{
    color: orange;
    font-weight: 400;
    font-size: 4rem;
}

.menu-sub-section .hotel-menu-header{
    margin: 40px 0px;
    text-align: center;
    background-color: orange;
    color: black;
}

.meals-information .meal-details-section{
    margin: 40px 0px;
}

.name-of-the-meal{
    padding-bottom: 20px;
}

.name-of-the-meal,
.meals-price{
    color: orange;
    font-size: 1.2rem;
    font-weight: 500;
}

.meal-details .meals-information{
    flex-basis: 70%;
}

.menu-items .menu-meals{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    padding: 30px 20px;
}

.menu-meals .meal-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 70%;
}

.menu-meals .image-container{
    flex-basis: 30%;
}

.menu-meals img{
    width: 150px;
}

.meals-information h1{
    width: 60%;
    background-color: #ffffff;
    color: black;
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    padding: 0px 20px;
    margin: 30px 0px;
}